@import url("reset.css");
@import url("https://fonts.googleapis.com/css?family=Archivo+Narrow|Satisfy");

html {
  font-size: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1rem;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1%;
}

p {
  font-size: 1.3rem;
  margin-top: 3%;
  margin-bottom: 1%;
}

h1 {
  font-family: 'Satisfy', serif;
  font-size: 4.8rem;
  margin-top: 4%;
  margin-bottom: 2%;
}

h4 {
  font-size: 1.5rem;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: 'Archivo Narrow', sans-serif;
}

input {
  margin: .5%;
}

#confirm {
  margin-bottom: 5%;
}

#bottom {
  margin-bottom: 5%;
  margin-top: 3%;
}

ul {
  list-style-type: circle;
  margin-left: 3%;
  font-size: 1.1rem;
}
li {
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 1.1rem;
}

#lickert {
}

.checkboxgroup {
  display: inline-block;
  text-align: center;
  margin-top: 1%;
}

.checkboxgroup label {
  font-size: .9rem;
}

#introduction {
  margin: 0 auto;
  margin-top: 5%;
  margin-left: 20%;
  width: 67%;
  line-height: 2.2em;
}

#introduction p {
  text-indent: 2.5rem;
  margin-bottom: 6%;
  font-size: 1.56rem;
}

#button {
  margin: 0 auto;
  margin-bottom: 40%;
  margin-top: 11%;
  display: block;
  background-color: purple;
  font-size: 2rem;
  border-radius: 1rem;
  padding-left: 14%;
  padding-top: 1%;
  padding-bottom: 1%;
}

#button a {
  text-decoration: none;
  color: white;
}
